#main {
  display: block;
  position: relative;
}

@media screen and (min-width: 769px) {
  .main-bar {
    position: absolute;
    border: 1.5px solid rgba(204, 204, 204, 0.44);
    width: 100%;
    height: 144px;
  }

  .main-bar li:nth-child(1) {
    position: absolute;
    left: 26px;
    top: 44px;
    font-size: 40px;
  }
  .user-circle {
    position: absolute;
    width: 74px;
    height: 74px;
    left: 107px;
    top: 32px;
    background: #ffffff;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    border-radius: 100%;
  }
  .main-bar li:nth-child(3) {
    z-index: 2;
    position: absolute;
    display: flex;
    left: 115px;
    top: 40px;
    font-size: 60px;
  }

  .main-bar li:nth-child(4) {
    position: absolute;
    font-size: 46px;
    right: 50px;
    top: 40px;
  }

  .main-desc {
    position: absolute;

    top: 147px;
    width: 100%;
    height: 700px;
  }

  .main-desc li {
    position: absolute;
  }

  .message-qna1 {
    display: flex;
    top: 160px;
    left: 180px;
    font-size: 60px;
  }

  .message-qna1 p {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }

  .message-box {
    width: 500px;
    height: 65px;
    background-color: white;
    border: 1px solid #bcbcbc;
    margin-left: 30px;
    border-radius: 40px;
  }

  .message-qna2 {
    top: 300px;
    right: 600px;
  }

  .message-box2 p {
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
  }

  .message-box2 {
    width: 600px;
    height: 65px;
    background-color: #eeeded;
    margin-left: 30px;
    border-radius: 40px;
  }

  .message-answer {
    top: 420px;
    right: 600px;
  }

  .message-box3:hover {
    background-color: #a3a2a2;
    cursor: pointer;
  }

  .message-box3 {
    width: 600px;
    background-color: #eeeded;
    border-radius: 40px;
  }
  .message-share {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  }

  .share-name {
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
  }

  .share-name p {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
  }

  .share-img {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .share-img img {
    width: 100%;
    height: 342px;
    object-fit: cover;
  }

  .share-desc {
    display: flex;
  }

  .share-desc p {
    font-size: 24px;
  }

  .main-text {
    position: absolute;
    display: flex;
    top: 1300px;
    width: 70%;
    height: 65px;
    margin-left: 300px;
    padding-top: 20px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    justify-content: space-around;
    font-size: 40px;
  }

  .main-text li:nth-child(2) {
    position: absolute;
    left: 50px;
    top: 20px;
    color: white;
  }
  .main-text li:nth-child(3) {
    position: absolute;
    left: 130px;
    top: 24px;
    font-size: 30px;
  }
  .main-text li:nth-child(4) {
    position: absolute;
    right: 120px;
    top: 20px;
  }
  .main-text li:nth-child(5) {
    position: absolute;
    right: 50px;
    top: 20px;
  }

  .camera-circle {
    position: absolute;
    left: 39px;
    top: 12px;
    background-color: #fc8989;
    position: absolute;
    width: 62px;
    height: 62px;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    border-radius: 100%;
  }
}

/** 미디어쿼리 **/

@media screen and (max-width: 768px) {
  .main-bar {
    position: absolute;
    padding: 0;
    display: flex;
    width: 100%;
    height: 80px;
    border-bottom: 1.5px solid rgba(204, 204, 204, 0.44);
  }

  .main-bar li:nth-child(1) {
    position: absolute;
    top: 30px;
    left: 5px;
  }
  .main-bar li:nth-child(2) {
    position: absolute;
    width: 33px;
    height: 33px;
    border-radius: 20px;
    background-color: white;
    top: 24px;
    left: 27px;
  }
  .main-bar li:nth-child(3) {
    position: absolute;
    top: 26px;
    left: 30px;
    font-size: 28px;
  }

  .main-bar li:nth-child(3) p {
    position: absolute;
    top: 6px;
    left: 12px;
    font-size: 17px;
  }

  .main-bar li:nth-child(4) {
    position: absolute;
    top: 24px;
    right: 6px;
  }

  .main-bar li:nth-child(4) i {
    position: absolute;
    top: 7px;
    right: 10px;
    margin-right: 0px !important;
  }

  .main-bar li:nth-child(4) i:nth-child(1) {
    position: absolute;
    top: 7px;
    right: 40px;
    margin-right: 0px !important;
  }

  .main-desc {
    position: relative;
    padding: 0;
    margin: 0;
    top: 82px;
    background-color: aqua;
  }

  .message-qna1 {
    position: absolute;
    display: flex;
    top: 30px;
  }

  .message-qna1 .fas {
    margin-left: 10px;
    font-size: 35px;
  }

  .message-qna1 .message-box {
    margin-left: 20px;
    background: #ffffff;
    border: 1px solid #bcbcbc;
    box-sizing: border-box;
    border-radius: 66px;
    font-size: 13px;
    text-align: center;
    padding: 10px 20px;
  }

  .message-qna2 {
    position: absolute;
    top: 95px;
    right: 20px;
    margin-bottom: 10px;
  }

  .message-qna2 .message-box2 {
    box-sizing: border-box;
    background: #eeeded;
    border-radius: 66px;
    font-size: 13px;
    text-align: center;
    padding: 10px 40px;
  }

  .message-answer {
    position: absolute;
    top: 150px;
    right: 20px;
    width: 302px;
    height: 295px;
    background: #eeeded;
    border-radius: 47px;
  }

  .share-name {
    display: flex;
    margin: 6px 0px 6px 30px;
  }

  .share-name .fas {
    font-size: 34px !important;
  }

  .share-name p {
    padding-top: 10px;
    margin-left: 12px;
    font-size: 13px;
  }
  .share-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .share-desc {
    display: flex;
  }

  .share-desc p:nth-child(1) {
    font-weight: 900;
  }

  .share-desc p:nth-child(2) {
    font-size: 12px;
  }

  .main-text {
    position: absolute;
    display: flex;
    top: 560px;
    width: 349px;
    height: 43px;
    margin-left: 7px;
    padding: 0;
    background: #dbebfa;
    border: 1.5px solid #cccccc;
    box-sizing: border-box;
    border-radius: 224.5px;
  }

  .main-text li:nth-child(1) {
    position: absolute;
    font-size: 20px;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    background: #fc8989;
    border-radius: 30px;
    top: 4px;
  }

  .main-text li:nth-child(2) {
    font-size: 20px;
    margin-left: 14px;
    margin-top: 7px;
    z-index: 200;
    color: white;
  }

  .main-text li:nth-child(3) {
    margin-left: 20px;
    margin-top: 7px;
  }

  .main-text li:nth-child(4) {
    margin-left: 200px;
    margin-top: 7px;
  }

  .main-text li:nth-child(5) {
    margin-left: 6px;
    margin-top: 7px;
  }
}
