#result{
    display: none;
}

.result-bar{
    display: flex;
    position:absolute;
    width: 97.7%;
    height: 100px;
    border: 1.5px solid rgba(204, 204, 204, 0.44);
}

.result-bar li:nth-child(1){
    position: absolute;
    left: 50%;
    top: 8px;
    font-size: 15px;
}

.result-bar li:nth-child(2){
    position: absolute;
    left: 50%;
    top: 40px;
    font-size: 35px;
    font-weight: bold;
}

.result-bar li:nth-child(3){
    position: absolute;
    right: 90px;
    top: 30px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.result-bar li:nth-child(4){
    position: absolute;
    right: 50px;
    top: 30px;
    font-size: 35px;
    cursor: pointer;
}


.result-username{
    position: absolute;
    display: flex;
    top:100px;
}

.result-username li:nth-child(1){
    position: absolute;
    top:20px;
    font-size: 62px;
    color:#D3D3D3;
}

.result-username li:nth-child(2){
    position: absolute;
    top:40px;
    left:120px;
    font-size: 27px;
}
.result-img{
    position: absolute;
    padding: 0;
    top: 200px;
    left: 0;
}

.result-img .resultname{
    position: absolute;
    left: 10%;
    top: 50%;
    font-size: 35px;
}

#resultImg img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.result-action{
    position: absolute;
    display: flex;
    top:700px;
    width:100%;
    font-size: 40px;
    margin-top: 10px;
}

.result-action li{
    margin-left: 20px;
}

.result-action li:last-child{
    position: absolute;
    right: 90px;
    top:5px;
}

.result-action li:nth-child(4){
    font-size: 30px;
    margin-top: 5px;
    cursor: pointer;
}

.result-desc{
    position: absolute;
    display: flex;
    bottom: 40px;
}

.result-desc li:nth-child(1){
    margin-right: 20px;
    font-size: 27px;
    font-weight: bold;
}

.result-desc li:nth-child(2){
    font-size: 20px;
}